#tetris {
  --cell-size: calc((95vmin - 9rem) / 20);
  display: flex;
  margin: 1rem 0;
  height: 100%;
}
#grid {
  align-self: center;
  border-style: dotted;
  border-width: 0.1px;
  height: calc(20 * var(--cell-size));
  width: calc(10 * var(--cell-size));
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
}
#ctrl {
  border-style: dotted;
  border-width: 0.1px;
  margin: 0 1rem;
  height: calc(20 * var(--cell-size));
  width: calc(5 * var(--cell-size));
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(20, 1fr);
}
@media only screen and (max-width: 30em) {
  #tetris {
    --cell-size: calc(100vmin / 20);
  }
}

#activeTetromino {
  border-style: groove;
  border-width: 0.1px;
  border-collapse: collapse;
  border-radius: calc(0.1 * var(--cell-size));
}
#gameOver {
  grid-row: 9 / 12;
  grid-column: 1 / 10;
  text-align: center;
  font-size: 8vmin;
  font-style: italic;
  font-weight: 700;
  color: #9b1e1e;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5), 6px 6px 6px #ce5937;
}
#next {
  grid-row-start: 3;
  grid-column: 1 / 8;
  text-align: center;
  font-size: 3vmin;
}
h2#next {
  grid-row-start: 2;
  font-size: 4vmin;
}
#score {
  grid-row-start: 11;
  grid-column: 1 / 8;
  text-align: center;
  font-size: 3vmin;
}
h2#score {
  grid-row-start: 10;
  font-size: 4vmin;
}
#tetrominoCount {
  grid-row-start: 15;
  grid-column: 1 / 8;
  text-align: center;
  font-size: 3vmin;
}
h2#tetrominoCount {
  grid-row-start: 14;
  font-size: 4vmin;
}
#restart {
  grid-row-start: 19;
  grid-column: 2 / 7;
}